@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@200;700&family=Mulish:wght@200;800&display=swap');

body {
    font-family: 'Montagu Slab';
    background-color: #EAE8DC;
}

.prompt-page {
    text-align: center;
    align-items: center;
}

.prompt-header {
    font-weight: 550;
    font-size: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 25px;
}

.prompt-content {
    font-weight: 200;
    display: flex;
	flex-direction: column;
	padding: 100px;
    padding-top: 20px;;
    font-size: 25px;
    font-family: 'Mulish', sans-serif;
}

.prompt-next-button {
    border: 2px black solid;
    width: 270px;
    height: 90px;
    display: flex;
	flex-direction: column;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;  
    font-size: 25px;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 26px;
    font-family: 'Mulish', sans-serif;
}

.prompt-next-button:hover {
    background-color: #E85A50;
    color: #FFFF;
}